<!DOCTYPE html>
<lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="chrome">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="sample.css">

    </head>


    <!-- Header -->
    <!-- position fixed 또는 absolute 주고 상단헤더값(height: 100px) 만큼 vue 에서 빼주기 -->
    <div class="h_column_center" id="header"
        style="position: fixed; width: 100% ;top:0 ; background:white; z-index: 1000;-webkit-transform: translateZ(0);"
        xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

        <div class="h_row_center" style="position: relative;width: 1160px; height: 100px;">

            <!-- 로고 클릭시, 메인 페이지로 이동. hourplace_v2.userLog('W', '/', 'click', 'tab', 'home');window.location.href='/' -->
            <img src="\img\logo\logo_examp.png" style="width: 130px; height: 32px; cursor: pointer;"
                onclick="window.location.href='header.html'">

            <!-- 모든 장소 보여주기 hourplace_v2.userLog('W', '/', 'click', 'tab', 'all');toggle_category_all() -->
            <div class="h_row_center" style="position: absolute; right: 0px; cursor: pointer;">
                <div onclick="window.toggle_category_all()" class="h_center h_header_button"
                    style="padding: 0px 13px; height: 50px;">
                    <p
                        style="font-size: 15px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: normal; text-align: center; color: rgb(27, 29, 31);">
                        모든 장소
                    </p>
                </div>

                <!-- 메인 카테고리 나열은 나중에 이걸로 돌려주면 됨 -->

                <!-- div class="h_center h_header_button" style="padding: 0 13px; height: 40px; margin-left: 8px;"
                    v-on:click="window.location.href='/mc/'+main_category.id" v-for="main_category in main_categories"
                    v-cloak>
                    <p
                        style="font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;text-align: center;color: #1b1d1f;">
                        {{ main_category.title }}
                    </p>
                </-div> -->

                <div class="h_center h_header_button"
                    style="padding: 0px 13px; height: 50px; margin-left: 8px; cursor: pointer;">
                    <p
                        style="font-size: 15px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: normal; text-align: center; color: rgb(27, 29, 31);">
                        가성비 스튜디오
                    </p>
                </div>
                <div class="h_center h_header_button"
                    style="padding: 0px 13px; height: 50px; margin-left: 8px; cursor: pointer;">
                    <p
                        style="font-size: 15px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: normal; text-align: center; color: rgb(27, 29, 31);">
                        신규
                    </p>
                </div>
                <div class="h_center h_header_button"
                    style="padding: 0px 13px; height: 50px; margin-left: 8px; cursor: pointer;">
                    <p
                        style="font-size: 15px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: normal; text-align: center; color: rgb(27, 29, 31);">
                        장르별
                    </p>
                </div>
                <div class="h_center h_header_button"
                    style="padding: 0px 13px; height: 50px; margin-left: 8px; cursor: pointer;">
                    <p
                        style="font-size: 15px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: normal; text-align: center; color: rgb(27, 29, 31);">
                        컨셉별
                    </p>
                </div>
                <div class="h_center h_header_button"
                    style="padding: 0px 13px; height: 50px; margin-left: 8px; cursor: pointer;">
                    <p
                        style="font-size: 15px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.33; letter-spacing: normal; text-align: center; color: rgb(27, 29, 31);">
                        공간별
                    </p>
                </div>

                <div class="h_center h_header_button"
                    style="margin-left: 8px; width: 1px; height: 30px; background: rgb(201, 205, 210);"></div>

                <!-- 호스트 페이지로 이동, 장소등록 hourplace_v2.userLog('W', '/place/29464', 'click', 'tab', 'hosting');window.location.href='/info/hosting -->
                <div onclick="window.location.href='hostLogin.html'" class="h_center h_header_button"
                    style="padding: 0px 13px; height: 50px; margin-left: 8px; cursor: pointer;">
                    <p
                        style="font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; text-align: center; color: rgb(114, 120, 127);">
                        호스트 페이지
                    </p>
                </div>

                <!-- 로그인 기능 show_login() -->
                <div onclick="window.location.href='login.html'" class="h_center h_header_button"
                    style="padding: 0px 13px; height: 50px; margin-left: 8px; cursor: pointer;">
                    <p
                        style="font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; text-align: center; color: rgb(114, 120, 127);">
                        로그인
                    </p>
                </div>
                <!-- 로그인 기능 끝 -->

                <div
                    style="width: 1px; height: 30px; background-color: rgb(201, 205, 210); margin-right: 10px; margin-left: 20px;">
                </div>

                <!-- 검색기능 시작 -->
                <div onclick="hourplace_v2.userLog('W', '/place/29464', 'click', 'search');toggle_search_container()"
                    class="h_center" style="width: 44px; height: 44px; cursor: pointer;">
                    <img src="https://s3.hourplace.co.kr/web/images/icon/search_b.svg"
                        style="width: 24px; padding: 0px 13px; height: 40px; margin-left: 8px;" />
                </div> <!-- 검색기능 끝-->


            </div>


        </div>

    </div>

    <div class="category_all"
        style="position: fixed;top: 100px;left: 0;width: 100%;height: 100%;display: none;z-index: 9999;background-color: rgba(0, 0, 0, 0.2);"
        onclick="toggle_category_all()">
        <div class="h_column_center" style="background-color: #FFFFFF; width: 100%; position:relative;">
            <div style="padding-top: 10px; padding-bottom: 40px;width: 1160px;display: flex; flex-direction: row;">

                <div v-for="category in categories" style="flex: 1">
                    <p class="h_hover_button"
                        style="font-size: 20px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.4;letter-spacing: -0.2px;color: #454b50; padding: 7px 12px 5px 8px; margin-bottom: 10px;"
                        v-on:click="click_category_main(category.id)">
                        {{ category.title }}
                    </p>
                    <div class="h_hover_button h_row_center"
                        style="padding-left: 8px; height: 32px; width: 100%;border-radius: 2px;"
                        v-on:click="click_category_main(category.id)">
                        <p
                            style="font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.6;letter-spacing: normal;color: #454b50;">
                            전체
                        </p>
                    </div>
                    <div class="h_hover_button h_row_center" v-for="sub in category.subs"
                        style="padding-left: 8px; height: 32px; width: 100%;border-radius: 2px;"
                        v-on:click="click_category_sub(category.id, sub.id)">
                        <p
                            style="font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.6;letter-spacing: normal;color: #454b50;">
                            {{ sub.title }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>




    <div id="main_vue">
        <div
            style="position: absolute; height: 100px; top: 0px; left: 0; right: 0; background-color: #fafbfb; z-index: -1;">
        </div>
        <div class="swiper-container_big_banner_container" style="width: 100%;height: 400px;position: relative;">
            <div class="swiper-container swiper-container_big_banner"
                style="position:relative;height: 100%; width: 100%; overflow: hidden;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide h_column_center"
                        style="width: 100%; height: 100%; position: relative;background-color: #184367;">
                        <div class="" style="position: relative;min-width: 1440px; width: 100%; height: 100%;">
                            <div class="h_center"
                                style="position: absolute; left: calc((100% - 1160px) / 2 + 300px); width: calc(100% - ((100% - 1160px) / 2 + 300px)); height: 100%; overflow: hidden;">
                                <img src="https://s3.hourplace.co.kr/temp/images/event/2021/09/01/83246ad9-de7e-3cf7-9077-9286c21f7d73.jpg"
                                    style="position: absolute; bottom: 0; width: 100%; height: calc(100% + 50px); object-fit: cover;">
                            </div>
                            <div
                                style="position: absolute; left: calc((100% - 1160px) / 2 + 300px); top: 0; width: 275px; height: 100%; background-image: linear-gradient(to right, rgba(24, 67, 103, 1), rgba(24, 67, 103, 0) 100%);">
                            </div>
                        </div>
                    </div>

                    <div style="position: absolute; top: 100px; right: 0; width: 100%; height: 100%;">
                        <div class="h_column_center" style="width: 100%; height: 100%;">
                            <div style="position: relative; width: 1050px;height: 100%; cursor: pointer; z-index: 3; "
                                onclick="hourplace_v2.userLog('W', '/', 'click', 'banner', 'main', 0, 9);window.location.href='/event/9';">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!-- test body -->
    <div style="flex-direction: row; display: flex; justify-content: center; background-color: wheat;">
        <div class="h_row_center" id="test_body" style="width: 1160px; height: 2400px;">
            <div style="position:relative;min-width: 300px;padding-top: 40px;height: 100%;"></div>
            <p
                style="font-size: 13px; font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: #454b50;cursor: pointer;">
                테스트 바디 생성
            </p>
        </div>
    </div>
    </div>

    <!--footer-->
    <div style="flex-direction: row;display: flex;justify-content: center;background-color: #fafbfb;">
        <div class="h_row_center" style="width: 1160px; height: 310px">

            <div style="position:relative;min-width: 300px;padding-top: 40px;height: 100%;">
                <p style="font-size: 12px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: #454b50;cursor: pointer;"
                    onclick="hourplace_v2.userLog('W', '/place/29464', 'click', 'policy', 'business');window.open('http://www.ftc.go.kr/www/bizCommView.do?key=232&amp;apv_perm_no=2018322016230204057&amp;pageUnit=10&amp;searchCnd=wrkr_no&amp;searchKrwd=4948100558&amp;pageIndex=1')">
                    사업자정보확인
                </p>
                <p style="margin-top: 12px; font-size: 12px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: #454b50;cursor: pointer;"
                    onclick="hourplace_v2.userLog('W', '/place/29464', 'click', 'policy', 'personal');window.location.href='/policy/personal'">
                    개인정보처리방침
                </p>
                <p style="margin-top: 12px; font-size: 12px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: #454b50;cursor: pointer;"
                    onclick="hourplace_v2.userLog('W', '/place/29464', 'click', 'policy', 'service');window.location.href='/policy/service'">
                    이용약관
                </p>
                <p style="margin-top: 12px; font-size: 12px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: #454b50;cursor: pointer;"
                    onclick="hourplace_v2.userLog('W', '/place/29464', 'click', 'service');window.location.href='/service'">
                    고객센터
                </p>
                <p style="margin-top: 12px; font-size: 12px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: #454b50;cursor: pointer;"
                    onclick="hourplace_v2.userLog('W', '/place/29464', 'click', 'policy', 'hr');window.open('https://www.notion.so/hourplace/fae9ceaf4a174479bf52a44305283045')">
                    인재채용
                </p>

                <div style="position:absolute; bottom: 50px;">
                    <p
                        style="font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.47;letter-spacing: -0.1px;color: #454b50;">
                        team@hourplace.co.kr</p>
                </div>
            </div>

            <div style="position:relative; width: 860px;padding-top: 40px; height: 100%">

                <p
                    style="font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: -0.1px;color: #9ea4aa;">
                    (주)먼치팩토리 사업자 정보
                </p>
                <p
                    style="margin-top: 16px;font-size: 12px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.67;letter-spacing: normal;color: #9ea4aa;">
                    대표 서영석<br>
                    주소 서울특별시 강남구 압구정로2길 62 대성빌딩 202호<br>
                    사업자 등록번호 494-81-00558<br>
                    통신판매업신고번호 2018-서울강남-04057<br>
                    (주)먼치팩토리는 통신판매중개자로서, 통신판매의 당사자가 아니라는 사실을 고지하며 상품의 예약, 이용 및 환불 등과 관련한 의무와 책임은 각 판매자에게 있습니다.
                </p>

                <p
                    style="position:absolute; bottom: 50px;font-size: 11px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.36;letter-spacing: normal;color: #9ea4aa;">
                    © munchfactory Inc.
                </p>

                <div class="h_row_center" style="position:absolute; bottom: 50px; right: 0;">
                    <div class="h_column_center" style="width: 32px;height: 32px;cursor: pointer;"
                        onclick="hourplace_v2.userLog('W', '/place/29464', 'click', 'sns', 'instagram');window.open('http://instagram.com/hourplace/?hl=ko')">

                    </div>
                </div>
            </div>
        </div>
        <!--푸터 끝-->

        <script>


        </script>


        </body>

        </html>