<!DOCTYPE html>
<lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="chrome">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YourPlace</title>
        <link rel="stylesheet" type="text/css" href="sample.css">

        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>
    
<body>
<div style="position: absolute; height: 100px; top: 0; left: 0; right: 0; background-color: #fafbfb; z-index: -1;">

</div>

<div>
    <div class="h_column_center" style="background-color: #fafbfb">
        <div style="margin-top: 20px;">
            <p style="font-size: 32px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.31;letter-spacing: -0.3px;text-align: center;color: #1b1d1f;">
                고객센터
            </p>
        </div>

        <!-- 공지사항 -->
        <!-- 게스트용 공지사항 -->
        <div class="h_row_center" style="margin-top: 78px; height: 240px; margin-bottom: 120px;">
            <div class="h_column_center" style="width: 400px;height: 240px;border-radius: 16px;box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.06);background-color: #ffffff;">
                <img src="https://s3.hourplace.co.kr/web/images/emoji/service_guest.png" style="margin-top: 50px; width: 44px; height: 44px;" />
                <div class="h_center" style="margin-top: 13px; height: 24px; width: 86px; border-radius: 12px;background-color: var(--grey-080);">
                    <p style="font-size: 14px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.4;letter-spacing: normal;text-align: center;color: #ffffff;">
                        게스트
                    </p>
                </div>
                <div class="h_center" style="margin-top: 30px; width: 280px;height: 56px;border-radius: 8px;background-color: #fafbfb;cursor: pointer;"
                    onclick="window.location.href='/info/guest'">
                    <div class="h_row_center">
                        <p style="font-size: 16px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.38;letter-spacing: -0.1px;text-align: center;color: #1b1d1f;">
                            게스트 이용방법
                        </p>
                        <img src="https://s3.hourplace.co.kr/web/images/icon/before.svg" style="margin-left: 8px; width: 20px; height: 20px; -webkit-transform: rotate(180deg)">
                    </div>
                </div>
            </div>
            <!-- 게스트용 공지사항 끝 -->

            <!-- 호스트용 공지사항 -->
            <div class="h_column_center" style="margin-left: 40px; width: 400px;height: 240px;border-radius: 16px;box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.06);background-color: #ffffff;">
                <img src="https://s3.hourplace.co.kr/web/images/emoji/service_host.png" style="margin-top: 50px; width: 44px; height: 44px;" />
                <div class="h_center" style="margin-top: 13px; height: 24px; width: 86px; border-radius: 12px;background-color: var(--grey-080);">
                    <p style="font-size: 14px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.4;letter-spacing: normal;text-align: center;color: #ffffff;">
                        공간 호스트
                    </p>
                </div>
                <div class="h_center" style="margin-top: 30px; width: 280px;height: 56px;border-radius: 8px;background-color: #fafbfb;cursor: pointer;"
                    onclick="window.location.href='/info/host'">
                    <div class="h_row_center">
                        <p style="font-size: 16px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.38;letter-spacing: -0.1px;text-align: center;color: #1b1d1f;">
                            호스트 이용방법
                        </p>
                        <img src="https://s3.hourplace.co.kr/web/images/icon/before.svg" style="margin-left: 8px; width: 20px; height: 20px; -webkit-transform: rotate(180deg)">
                    </div>
                </div>
            </div>
            <!-- 호스트용 공지사항 끝 -->
        </div>

    </div>
    <div class="h_center" style="padding: 120px 0;">
        <div class="h_column_center">
            <div class="h_center" style="width: 80px;height: 80px;background-color: var(--grey-015); border-radius: 50%;">
                <img src="//s3.hourplace.co.kr/web/images/emoji/14.svg" style="width: 80px;height: 80px; padding: 0 0 16px 14px;">
            </div>

            <p style="margin-top: 40px; font-size: 26px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.31;letter-spacing: -0.3px;color: #246ff8;">
                서비스 이용에 어려움이 있으신가요?
            </p>

            <div class="h_row_center" style="margin-top: 30px;">
                <p style="font-size: 18px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.22;letter-spacing: -0.12px;color: #1b1d1f;">
                    projectkg2@kakao.com
                </p>
            </div>

            <p style="margin-top: 1px; font-size: 12px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.38;letter-spacing: -0.1px;color: #1b1d1f; text-align: center;">
                평일 오전 9시~ 오후 3시 (주말 및 공휴일 제외) <br/>*점심시간 오후 11시~오후 12시 30분
            </p>

            <!-- 문의하기 팝업 -->
            <div class="h_row_center" style="margin-top: 40px;">
                <div style="width: 132px;height: 40px;border-radius: 4px;border: solid 1px var(--grey-025);display: flex; flex-direction: row; align-items: center; justify-content: center; cursor: pointer;"
                    onclick="show_direct()">
                    <p style="font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;text-align: center;color: var(--grey-070);">
                        1:1 고객 문의
                    </p>
                </div>
                <div style="margin-left: 14px; width: 132px;height: 40px;border-radius: 4px;border: solid 1px var(--grey-025);display: flex; flex-direction: row; align-items: center; justify-content: center; cursor: pointer;"
                    onclick="show_direct_two()">
                    <p style="font-size: 15px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;text-align: center;color: var(--grey-070);">
                        이용자 신고하기
                    </p>
                </div>
                
            </div>
            <!-- 문의하기 팝업 끝 -->

        </div>
    </div>

    <!-- 1:1 고객문의 팝업 내용 -->
    <div class="direct h_center" id="direct_vue"
        style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;display: none;z-index: 9999;background-color: var(--opacity-black-60);">

        <div style="position: relative; width: 420px;border-radius: 12px;box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);border: solid 1px #eff3f5;background-color: #ffffff;">

            <p style="margin-top: 30px;font-size: 18px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.44;letter-spacing: -0.1px;color: #1b1d1f; width: 100%; text-align: center">
                1:1 고객문의
            </p>
            <div class="h_center" style="width: 24px;height: 24px;position:absolute;right: 40px; top: 30px; cursor:pointer;"
                onclick="close_direct()">
                <img src="https://s3.hourplace.co.kr/web/images/icon/close.svg" style="width: 24px;height: 24px;" />
            </div>

            <form id="form_direct" style="margin-top: 30px; padding: 0 40px; margin-bottom: 40px">
                <input type="hidden" name="type" value="direct">
                <div style="padding: 12px 14px; border-radius: 8px;background-color: var(--grey-010);">
                    <p style="font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.43;letter-spacing: normal;color: var(--grey-060); text-align: center;">
                        아워플레이스 서비스 이용 중 <br/> 불편하신 점이나 궁금하신 점이 있으셨나요? <br/> 최대한 빠른 시일 내에 답변 드릴게요.
                    </p>
                </div>

                <p style="margin-left: 18px; margin-top: 20px; font-size: 14px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: var(--grey-040);">
                    내용
                </p>

                <div style="margin-top: 8px;height: 192px;padding: 14px; border-radius: 4px;border: solid 1px var(--grey-025);">
                <textarea class=""
                style="width: 100%; height: 100%; border: solid 1px slategray; font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.6;letter-spacing: normal;color: var(--grey-080);"
                placeholder="문의 내용을 입력해주세요" id="content" name="content" v-model="content"> </textarea>
                </div>

                <div class="request direct_request" id="direct_request" v-bind:class="{'on': content.length > 10}"
                    style="margin-top: 30px;">
                    <p style="margin-top: 30px;font-size: 18px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.44;letter-spacing: -0.1px;color: #1b1d1f; width: 100%; text-align: center">
                        문의하기
                    </p> <!-- FYI, onclick 구현해야함 -->
                </div>
            </form>
        </div>
    </div>
    <!-- 1:1 고객문의 팝업 내용 끝 -->



    <!-- 신고하기 팝업 내용 --> 
    <div class="direct_two h_center" id="direct_vue"
        style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;display: none;z-index: 9999;background-color: var(--opacity-black-60);">

        <div style="position: relative; width: 420px;border-radius: 12px;box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);border: solid 1px #eff3f5;background-color: #ffffff;">

            <p style="margin-top: 30px;font-size: 18px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.44;letter-spacing: -0.1px;color: #1b1d1f; width: 100%; text-align: center">
                신고하기
            </p>
            <div class="h_center" style="width: 24px;height: 24px;position:absolute;right: 40px; top: 30px; cursor:pointer;"
                onclick="close_direct_two()">
                <img src="https://s3.hourplace.co.kr/web/images/icon/close.svg" style="width: 24px;height: 24px;" />
            </div>

            <form id="form_direct_two" style="margin-top: 30px; padding: 0 40px; margin-bottom: 40px">
                <input type="hidden" name="type" value="direct_two">
                <div style="padding: 12px 14px; border-radius: 8px;background-color: var(--grey-010);">
                    <p style="font-size: 14px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.43;letter-spacing: normal;color: var(--grey-060); text-align: center;">
                        아워플레이스 서비스 이용 중 <br/> 불편하신 경험 또는 게스트/호스트가 있으셨나요? <br/> 최대한 빠른 시일 내에 답변 드릴게요.
                    </p>
                </div>
                
                <p style="margin-top: 20px; font-size: 14px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: var(--grey-040);">
                    예약번호
                </p>
                <input type="text" placeholder="예약번호" value="" id="rsv_num" name="rsv_num" v-model="rsv_num" style="width: 50%; margin: 2px; border: solid 1px slategray; font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.6;letter-spacing: normal;color: var(--grey-080);"
                required>

                <p style="margin-top: 20px; font-size: 14px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.17;letter-spacing: normal;color: var(--grey-040);">
                    내용
                </p>

                <div style="margin-top: 8px;height: 192px; border-radius: 4px;border: solid 1px var(--grey-025); margin: 3px;">
                <textarea class=""
                style="width: 100%; height: 100%; border: solid 1px slategray; font-size: 15px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.6;letter-spacing: normal;color: var(--grey-080);"
                placeholder="문의 내용을 입력해주세요" id="content" name="content" v-model="content"> </textarea>
                </div>

                <div class="request direct_request" id="direct_request" v-bind:class="{'on': content.length > 10}"
                    style="margin-top: 30px;">
                    <p style="margin-top: 30px;font-size: 18px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.44;letter-spacing: -0.1px;color: #1b1d1f; width: 100%; text-align: center">
                        문의하기
                    </p> <!-- FYI, onclick 구현해야함 -->
                </div>
            </form>
        </div>
    </div>
    <!-- 신고하기 팝업 내용 끝 -->

    <!-- script -->

    <script>
        function show_direct () {
        $('body').addClass('modal-open')
          $('.direct').show()
        }

        function close_direct () {
          $('body').removeClass('modal-open')
          $('.direct').hide()
        }

        function show_direct_two () {
        $('body').addClass('modal-open')
          $('.direct_two').show()
        }

        function close_direct_two () {
          $('body').removeClass('modal-open')
          $('.direct_two').hide()
        }

      </script>


      

    <!-- script 끝 -->

</body>
</html>